<ngb-alert #selfClosingAlert *ngIf="showMessage" type="danger" (closed)="changeMessage('już było')">{{ successMessage }}
</ngb-alert>

<ng-container *ngIf="isModalVisible">
  <div class="modal">
    <i class="bi bi-x-circle"></i>

    <button type="button" class="btn btn-primary btn-lg btn-block answer" (click)="showAnswer()">
      odp
    </button>
    <button type="button" class="close-button" aria-label="Close" (click)="close()"></button>
    <app-timer></app-timer>
    <div [ngSwitch]="question.id">
      <div class="row" *ngSwitchCase=0>
        <h1>{{question.questionName}}</h1>
        <div class="col-8">
          <img class="flague-image" src="assets/flagues/{{tip.toLowerCase()}}.png" alt="flaga {{tip}}">
        </div>
      </div>
      <div class="row" *ngSwitchCase=1>
        <h1>{{question.questionName}} {{tip}}</h1>
      </div>
      <div class="row countries" *ngSwitchCase=2>
        <h2>Punkty: {{points}}/{{length}}</h2>
        <h2>  {{country}}</h2>
        <h1>{{question.questionName}} {{tip}}</h1>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"></span>
          <input type="text" class="form-control country-input" [value]="country" (input)="save($event)"
                 placeholder="country"
                 aria-label="country" aria-describedby="basic-addon1">
        </div>
        <div class="col-2 country" *ngFor="let answer of this.answersForCountries;"
             id="{{answer.name.toLowerCase()}}">
          <ng-container *ngIf="answer.display">
            <p>{{ answer.name }}</p>
          </ng-container>

        </div>
      </div>
      <div class="row" *ngSwitchCase=3>
        <h2>Punkty: {{points}}/{{length}}</h2>
        <h2>  {{country}}</h2>
        <h1>{{question.questionName}} {{tip}}</h1>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon2"></span>
          <input type="text" class="form-control country-input" [value]="country" (input)="save($event)"
                 placeholder="country"
                 aria-label="country" aria-describedby="basic-addon1">
        </div>
        <div class="col-2 country" *ngFor="let answer of this.answersForCountries;"
             id="{{answer.capital.toLowerCase()}}">
          <ng-container *ngIf="answer.display">
            <p>{{ answer.capital }}</p>
          </ng-container>

        </div>
      </div>
      <div class="row" *ngSwitchCase=4>
        <h2>Punkty: {{points}}/{{length}}</h2>
        <h2>  {{country}}</h2>
        <h1>{{question.questionName}} {{tip}}</h1>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon4"></span>
          <input type="text" class="form-control country-input" [value]="country" (input)="save($event)"
                 placeholder="country"
                 aria-label="country" aria-describedby="basic-addon1">
        </div>
        <div class="col-2 country" *ngFor="let answer of this.answersForCountries;"
             id="{{answer.name.toLowerCase()}}">
          <ng-container *ngIf="answer.display">
            <p>{{ answer.name }}</p>
          </ng-container>
        </div>
      </div>
      <div class="row" *ngSwitchCase=5>
        <h2>Punkty: {{points}}/{{length}}</h2>
        <h2>  {{country}}</h2>
        <h1>{{question.questionName}} {{tip}}</h1>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3"></span>
          <input type="text" class="form-control country-input" [value]="country" (input)="save($event)"
                 placeholder="country"
                 aria-label="country" aria-describedby="basic-addon1">
        </div>
        <div class="col-2 country" *ngFor="let answer of this.answersForCountries;"
             id="{{answer.capital.toLowerCase()}}">
          <ng-container *ngIf="answer.display">
            <p>{{ answer.capital }}</p>
          </ng-container>
        </div>
      </div>
      <div class="row" *ngSwitchDefault>
        <h1>Wyczerpały się juz pytania w kategorii countries</h1>

      </div>
      <ng-container *ngIf="isVisible">
        <div class="info">
          <div class="correct col-12 ">{{answer}}
            <button type="button" class="btn btn-success" (click)="playerService.addPoints(playerService.actualPlayer,points*multiply);close()">Dodaj {{points*multiply}} punkty</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

