<ng-container *ngIf="!areCategoriesChosen && playerAdded">
  <div class="row categories">
    <div class="col-12">
      <h2 class="title">1. Wybierz <strong>conajmniej</strong> 2 kategorie!</h2>
    </div>
    <div class="col-12">
      <button
        type="button"
        [disabled]="acceptCategoriesButtonDisabled"
        class="btn btn-primary btn-lg acceptCategories"
        (click)="sendCategories(this.chosenCategories)"
      >
        Zatwierdź kategorie!
      </button>
    </div>
    <div class="col-6">
      <div class="todo-container column-container">
        <h2>Dostępne kategorie</h2>
        <div
          class="list row"
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="categoriesForChoose"
          [cdkDropListConnectedTo]="[doneList]"
          (cdkDropListDropped)="onDrop($event)"
        >
          <button class="btn btn-primary btn-lg acceptCategories" (click)="moveAllCategoriesTo(false)">
            Dodaj Wszystkie!
          </button>
          <mat-card
            class="col-sm col-lg-4"
            *ngFor="let todo of categoriesForChoose"
            cdkDrag
            (dblclick)="change(true, todo)"
          >
            <mat-card-header class="{{ todo.class }} category-card text-uppercase text-center">
              <mat-card-title>{{ todo.id }}</mat-card-title>
              <mat-card-subtitle>{{ todo.name }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="done-container column-container">
        <div
          class="list row"
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="chosenCategories"
          [cdkDropListConnectedTo]="todoList"
          (cdkDropListDropped)="onDrop($event)"
        >
          <h2>Wybrane kategorie</h2>
          <button class="btn btn-primary btn-lg acceptCategories" (click)="moveAllCategoriesTo(true)">
            Odłóż Wszystkie!
          </button>
          <mat-card
            class="col-sm col-lg-4"
            *ngFor="let complete of chosenCategories"
            cdkDrag
            (dblclick)="change(true, complete)"
          >
            <mat-card-header class="{{ complete.class }} category-card text-uppercase text-center">
              <mat-card-title>{{ complete.id }}</mat-card-title>
              <mat-card-subtitle>{{ complete.name }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</ng-container>
