<div class="row">
  <div class="col-12">
    <table class="table table-hover">
      <tbody>
      <tr>Wybierz Kategorie:</tr>
      <tr class="table-danger" *ngFor="let category of this.allCategories">
        <td>{{category.name}}</td>
        <td>
          <mat-checkbox [checked]="category.checkbox" (change)="toggle($event,category)"></mat-checkbox>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12">
    <button type="button" class="btn btn-primary btn-lg" (click)="sendCategories(this.chosenCategories)">Zatwierdź
      kategorie!
    </button>
  </div>
  <div class="col-12">
    <table class="table table-hover">
      <tbody>
      <tr>Wybrane Kategorie:</tr>
      <tr class="table-success" *ngFor="let category of this.chosenCategories">
        <td>{{category.name}}</td>
        <td>
          <mat-checkbox [checked]="category.checkbox" (change)="toggle2($event,category)"></mat-checkbox>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
