
.row{
  padding-bottom: 50px !important;
}

.club-image{
  width:20%;
}

.flague-image{
  width:20%;
}

.correct{
  color: #000000;
}

.test{
border-style: solid;
  border-color: #ff0000;
  border-width: medium;
}





