
.flague-image {
  width:30%;
  border-width: 15px;
  border-style: solid;
  border-color: white;
}

.info {
  /*display:none;*/
  display: inline;
  z-index: 5;
}

.modal {
  display: inline;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 45px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(1, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  color: white;
  font-size: 2vw;
  text-align: center;
}

.close-button {
  position: relative;
  top: 0;
  right: 0;
  height: 100px;
  width: 100px;
  background-image: url("../../assets/icons/x-circle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.correct {
  color: greenyellow;
  font-size: xxx-large;
  padding-bottom: 100px;
  margin-bottom: 50px;
}

@keyframes example {
  from {
    right: 0;
    left: 100%;
  }
  to {
    left: 0;
    right: 0;
  }
}

/* The element to apply the animation to */
.modal div {
  animation-name: example;
  animation-duration: 2s;
}

.timer {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.4em;
  letter-spacing: -1px;
}

.timer span {
  font-size: 2em;
  margin: 0 3px 0 15px;
}



