<div class="d-flex flex-column text-center justify-content-center align-items-center question-bg">
  <h2 class="d-none d-lg-flex font-weight-bold question">{{ question }}</h2>
  <h4 class="d-md-flex d-lg-none font-weight-bold question">{{ question }}</h4>
  <ng-container *ngIf="!isPhoto">
    <h2>{{ tip }}</h2>
  </ng-container>
  <ng-container *ngIf="isPhoto">
    <div class="card" style="width: 30rem">
      <ng-container *ngIf="isFlague">
        <img class="card-img-top" src="assets/flagues/{{ tip }}.png" alt="flaga {{ tip }}" />
      </ng-container>
      <ng-container *ngIf="!isFlague">
        <img class="card-img-top" src="{{ tip }}" alt="{{ tip }}" />
      </ng-container>
    </div>
  </ng-container>
</div>
