<div class="row">
  <app-players *ngIf="playerService.chosen"></app-players>
</div>
<div class="row">
  <app-categories *ngIf="categoryService.chosen && !playerService.chosen"></app-categories>
</div>
<div class="table-responsive">
  <table class="table  table-hover">
    <thead>
    <tr>
      <th scope="col">Team name</th>
      <th scope="col">Points</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let teams of this.players;"
        id="{{teams.name.toLowerCase()}}">
      <td class="team">{{teams.name}}</td>
      <td class="points"><strong>{{teams.points}}</strong></td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="categories.length >0" class="row">
  <button type="button" class="btn btn-outline-info btn-lg btn-block col-12" (click)="setQuestionType(50)">
    Wylosuj
  </button>
  <div *ngFor="let category of categories">
    <button type="button" class="btn btn-outline-info btn-lg btn-block col-12" (click)="setQuestionType(category.id)">
      {{category.name}}
    </button>
  </div>
</div>

<h3 *ngIf="!playerService.chosen">Teraz kolej na {{players[playerService.actualPlayer].name}}</h3>


<div *ngIf="!categoryService.chosen && !playerService.chosen" [ngSwitch]="questionType">
  <div class="row" *ngSwitchCase="0">
    <app-books></app-books>
  </div>
  <div class="row" *ngSwitchCase=1>
    <app-songs></app-songs>
  </div>
  <div class="row" *ngSwitchCase=2>
    {{categories[2].name}}
  </div>
  <div class="row" *ngSwitchDefault>
    <h1>Wybierz pytanie!</h1>
  </div>
</div>
