<div class="row">
  <app-categories *ngIf="categoryService.chosen"></app-categories>
</div>
<div class="row">
  <app-players></app-players>
</div>
<div *ngIf="categories.length >0" class="row">
  <button type="button" class="btn btn-outline-info btn-lg btn-block col-12" (click)="setQuestionType(50)">
    Wylosuj
  </button>
  <div *ngFor="let category of categories">
    <button type="button" class="btn btn-outline-info btn-lg btn-block col-12" (click)="setQuestionType(category.id)">
      {{category.name}}
    </button>
  </div>
</div>


<div [ngSwitch]="questionType">
  <div class="row" *ngSwitchCase="0">
    <h3>{{categories[0].name}}</h3>
  </div>
  <div class="row" *ngSwitchCase=1>
    {{categories[1].name}}
  </div>
  <div class="row" *ngSwitchCase=2>
    {{categories[2].name}}
  </div>
  <div class="row" *ngSwitchDefault>
    <h1>Wybierz pytanie!</h1>
  </div>
</div>
