.card-title{
  color: #000000;
}

.row{
  padding-bottom: 50px !important;
}

.card-deck{
  padding-bottom: 50px;
}
.photos{
  float: left;
}

.correct{
  color: #adff2f;
  padding-bottom: 20px;
  font-size: 6vw;
}

.tips{
  padding-bottom: 50px;
}

