<ng-container *ngIf="isModalVisible">
  <div class="modal">
    <div class="row">
      <button type="button" class="close-button" aria-label="Close" (click)="close()"></button>
      <ng-container *ngIf="isAnswer1Visible">
        <button type="button" class="btn btn-success" (click)="playerService.addPoints(playerService.actualPlayer,points*multiply); close()">{{points*multiply}}</button>
      </ng-container>
      <ng-container *ngIf="isAnswer2Visible">
        <button type="button" class="btn btn-danger" (click)="playerService.addPoints(playerService.actualPlayer,-3);close()">{{-3}}</button>
        <button type="button" class="btn btn-success" (click)="playerService.addPoints(playerService.actualPlayer,2*points*multiply);close()">{{2*points*multiply}}</button>
      </ng-container>
      <div class="col-8 question">{{question}}</div>
      <i class="bi bi-x-circle"></i>

      <button type="button" class="btn btn-primary btn-lg btn-block answer" (click)="showQuestion1();setMultiply(3)">
        fragment 1
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-block answer" (click)="showQuestion2();setMultiply(2)">
        fragment 2
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-block answer" (click)="showQuestion3();setMultiply(1)">
        fragment 3
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-block answer" (click)="showAnswer1()">
        Pokaż tytuł
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-block answer" (click)="showAnswer2()">
        Pokaż wykonawce
      </button>
      <ng-container *ngIf="isQuestion1Visible">
        <div class="info">
          <div class="col-12 tip">{{question1}}</div>
        </div>
      </ng-container>
      <ng-container *ngIf="isQuestion2Visible">
        <div class="info">
          <div class="col-12 tip">{{question2}}</div>
        </div>
      </ng-container>
      <ng-container *ngIf="isQuestion3Visible">
        <div class="info">
          <div class="col-12 tip">{{question3}}</div>
        </div>
      </ng-container>

    </div>
    <ng-container *ngIf="isAnswer1Visible">
      <div class="info">
        <div class="correct col-12 ">tytuł: {{answer1}}</div>
      </div>
    </ng-container>
    <ng-container *ngIf="isAnswer2Visible">
      <div class="info">
        <div class="correct col-12 ">Wykonawca: {{answer2}}</div>
      </div>
    </ng-container>

  </div>
</ng-container>
