.row{
  padding-bottom: 50px !important;
}

.green{
  background-color: rgba(32,212,137,255);
}
.red{
  background-color: rgba(242,65,108,255);
}
.yellow{
  background-color: rgba(255,199,1,255);
}
.blue{
  background-color: rgba(1,179,255,255);
}

.answers{
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
@media screen and (max-width: 768px) {
  .answers {
    display: grid;
    grid-template-columns: 60vw;
    grid-template-rows: 12vh 12vh 12vh 12vh;

  }
  .answers-btn {
    line-height: 1.1;
  }
}

@media screen and (min-width: 769px) {
  .answers {
    display: grid;
    grid-template-columns: 27vw 27vw;
    grid-template-rows: 15vh 15vh;
    padding-bottom: 100px;
  }
  .answers-btn {
    padding: .2rem .4rem;
    font-size: 1.25rem;
    line-height: 1.1;
    border-radius: .3rem;
  }
}
