/* You can add global styles to this file, and also import other style files */
.modal {
  display: inline;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 45px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #5710B2;
  color: #ffffff;
  font-size: 2vw;
  text-align: center;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.info{
  /*display:none;*/
  display: inline;
  z-index: 5;
}
